<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinitysensei.kaguyawallpapersama">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity50"></activity>
        <activity android:name=".Activity49" />
        <activity android:name=".Activity48" />
        <activity android:name=".Activity47" />
        <activity android:name=".Activity46" />
        <activity android:name=".Activity45" />
        <activity android:name=".Activity44" />
        <activity android:name=".Activity43" />
        <activity android:name=".Activity42" />
        <activity android:name=".Activity41" />
        <activity android:name=".Activity40" />
        <activity android:name=".Activity39" />
        <activity android:name=".Activity38" />
        <activity android:name=".Activity37" />
        <activity android:name=".Activity36" />
        <activity android:name=".Activity35" />
        <activity android:name=".Activity34" />
        <activity android:name=".Activity33" />
        <activity android:name=".Activity32" />
        <activity android:name=".Activity31" />
        <activity android:name=".Activity30" />
        <activity android:name=".Activity29" />
        <activity android:name=".Activity28" />
        <activity android:name=".Activity27" />
        <activity android:name=".Activity26" />
        <activity android:name=".Activity25" />
        <activity android:name=".Activity24" />
        <activity android:name=".Activity23" />
        <activity android:name=".Activity22" />
        <activity android:name=".Activity21" />
        <activity android:name=".Activity20" />
        <activity android:name=".Activity19" />
        <activity android:name=".Activity18" />
        <activity android:name=".Activity17" />
        <activity android:name=".Activity16" />
        <activity android:name=".Activity15" />
        <activity android:name=".Activity14" />
        <activity android:name=".Activity13" />
        <activity android:name=".Activity12" />
        <activity android:name=".Activity11" />
        <activity android:name=".Activity10" />
        <activity android:name=".Activity9" />
        <activity android:name=".Activity8" />
        <activity android:name=".Activity7" />
        <activity android:name=".Activity6" />
        <activity android:name=".Activity5" />
        <activity android:name=".Activity4" />
        <activity android:name=".Activity3" />
        <activity android:name=".Activity2" />
        <activity android:name=".Activity1" />
        <activity android:name=".p50" />
        <activity android:name=".p49" />
        <activity android:name=".p48" />
        <activity android:name=".p47" />
        <activity android:name=".p46" />
        <activity android:name=".p45" />
        <activity android:name=".p44" />
        <activity android:name=".p43" />
        <activity android:name=".p42" />
        <activity android:name=".p41" />
        <activity android:name=".p40" />
        <activity android:name=".p39" />
        <activity android:name=".p38" />
        <activity android:name=".p37" />
        <activity android:name=".p36" />
        <activity android:name=".p35" />
        <activity android:name=".p34" />
        <activity android:name=".p33" />
        <activity android:name=".p32" />
        <activity android:name=".p31" />
        <activity android:name=".p30" />
        <activity android:name=".p29" />
        <activity android:name=".p28" />
        <activity android:name=".p27" />
        <activity android:name=".p26" />
        <activity android:name=".p25" />
        <activity android:name=".p24" />
        <activity android:name=".p23" />
        <activity android:name=".p22" />
        <activity android:name=".p21" />
        <activity android:name=".p20" />
        <activity android:name=".p19" />
        <activity android:name=".p18" />
        <activity android:name=".p17" />
        <activity android:name=".p16" />
        <activity android:name=".p15" />
        <activity android:name=".p14" />
        <activity android:name=".p13" />
        <activity android:name=".p12" />
        <activity android:name=".p11" />
        <activity android:name=".p10" />
        <activity android:name=".p9" />
        <activity android:name=".p8" />
        <activity android:name=".p7" />
        <activity android:name=".p6" />
        <activity android:name=".p5" />
        <activity android:name=".p4" />
        <activity android:name=".p3" />
        <activity android:name=".p2" />
        <activity android:name=".p1" />
        <activity android:name=".privacypolicy" />
        <activity android:name=".sendfeedback" />
        <activity android:name=".Activity2_1" />
        <activity android:name=".Activity1_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>